header {
  background-color: #1a1a1d;
  padding: 0 25px;
  border-bottom: 3px solid #3438f5;
}

img {
  float: left;
  width: 25px;
  height: 25px;
  padding: 18px 10px 0 0;
}

h1 {
  font: bold 25px Arial;
  font-style: italic;
  color: #ffffff;
  display: inline-block;
}

button {
  float: right;
  width: 33px;
  height: 33px;
  padding: 0 0 0 0;
  border-style: none;
  border-radius: 20px;
  margin-top: 18px;
  background-color: #3438f5;
  background-size: 60%;
  background-repeat: no-repeat;
  transition: 0.2s;
  color: #ffffff;
}

button > span {
  display: block;
  font: bold 7px Arial;
  background-color: #ffffff;
  color: #606062;
  padding: 3px;
  border-radius: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
}

#cart-button {
  margin-right: 10px;
  background-image: url(/cart-button.svg);
  background-position-x: 42%;
  background-position-y: 60%;
}

#ai-button {
  background-image: url(/ai-button.svg);
  background-position-x: 50%;
  background-position-y: 50%;
}

button:hover {
  cursor: pointer;
  background-color: #0105bb;
}
