<main>
  <div class="container">
    <h2>{{ title() }}</h2>
    @if(title() == "Produkter"){
    <app-products></app-products>
    } @else if (title()== "Logga in") {
    <app-login
      (changedTitle)="changeTitle($event)"
      (changedUserLoggedIn)="changeUserLoggedIn($event)"
    ></app-login>
    } @else if (title() == "Registrera") {
    <app-register (changedTitle)="changeTitle($event)"></app-register>
    } @else if (title() == "Mina ordrar") {
    <app-orders></app-orders>
    }
  </div>
</main>
